.background-container {
  width: 100vw;
  min-height: 100vh;
  background: #000000; /* Ensure full black background */  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent extra white space */
}

.content {
  position: relative; /* Ensures content is on top */
  z-index: 1;
  text-align: center;
  color: #ffffff;

  display: flex;
  flex-direction: column;  /* Stacks child divs vertically */
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.content p {
  font-size: 1.2rem;
  color: #ab64ed;
}

/* Prevent unwanted white space */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background: #000000; /* Fixes white area */
  overflow-x: hidden;
  /* linear-gradient: (90deg, white, #ec4899, #f59e0b);
  linear-gradient: (90deg, white, #ec4899, #34ff22) */

}



.half-circle{
  width:100vw;
  height: 30vh;
  border:2px soild white;
  background-image:url('https://assets.cdn.filesafe.space/lybiNCR6GLnVXj82WBkv/media/9eb0758e-c38c-4a42-9b85-793ee4945cb8.svg+xml');
  background-size:cover; 
  background-position:center;
  background-repeat:no-repeat;
  position: absolute; 
  top: 0; 
  left: 50%; 
  transform: translateX(-50%);
}