  .video-cont {
    width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Optional: to add space between child elements */
  }

  .video-child {
    flex: 1; /* Adjust based on your needs */
    margin: 5px; /* Optional: to add some space around each child */
  }